@model IEnumerable<WebApplication67.Models.Commande>

<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md mt-8">
    <h1 class="text-2xl font-semibold mb-6">Liste des Commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client.NomComplet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Libelle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantite)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.NomComplet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantite)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdCommande">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdCommande">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdCommande">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
